// ------------
// Icon Styles
// ------------

// Graduation Cap
// --------------

#grad {
  display: block;
  width  : 64px;
  margin : auto;
}


// Logo
// ----

#logo {
  width       : 24px;
  height      : 24px;
  margin-right: auto;
  margin-left :  rem(20px);
}